{% include 'html/navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% load  static %}

    <script src="{% static 'js/cart.js' %}" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Freebie: 4 Bootstrap Gallery Templates</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>

<style>
    .neon-glow {
        font-size: 2.5em;
        font-weight: 900;
        color: #FFD700;
        text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px darkgoldenrod;
        text-transform: uppercase;
    }

    .header .cor-1 {
      background:#f1c40f;
    }

    .header .cor-2 {
      background:#e67e22;
    }

    .header .cor-3 {
      background:#e74c3c;
    }

    .header .cor-4 {
      background:#9b59b6;
    }

    .header .cor-5 {
      background-color: hsla(10,40%,50%,1);
    }

    span {
        color: white;
    }

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 20vh;
}

#cart {
      width: 50px;
      max-width: 100%;
      height: auto;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}

</style>

<header class="header">
    <ul>
        <li class="cor-1"></li>
        <li class="cor-2"></li>
        <li class="cor-3"></li>
        <li class="cor-4"></li>
        <li class="cor-5"></li>
    </ul>
</header>

    <div class="container gallery-container">
    <div class="center-content">
        <img src="\media\templates\videogame_imgs\shoppingCart.png" id="cart">
        <h1 class="neon-glow">Your Shopping Cart</h1>
    </div>

    <p class="page-description text-center">These are the items in your basket, press buy to proceed to shipping and payment section.</p>

    <div class="tz-gallery">
        <div class="container">
            {% for order in orders %}
                {% if order.quantity > 0 %}
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <a href="video/{{ order.game_id.video_game_id }}">
                            <img src="{{ order.game_id.image_url.url }}" alt="{{ order.game_id.name }}" class="img-fluid">
                        </a>1
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <p><span>Order ID: {{ order.order_id }}</span></p>
                        <p><span>Order date: {{ order.order_date }}</span></p>
                        <p><span>Order game: {{ order.game_id.name }}</span></p>
                        <p><span>Order quantity: {{ order.quantity }}</span></p>
                        <button class="btn btn-danger float-end" onclick="deleteItem({{ order.order_id }})">Delete</button>
                        <button class="btn btn-success float-end" onclick="addAnItem({{ order.order_id }})">+1 Qty</button>
                        <button class="btn btn-warning float-end" onclick="removeAnItem({{ order.order_id }})">-1 Qty</button>
                    </div>
                </div>
                <hr>
                {% endif %}
            {% empty %}
                <div class="row">
                    <div class="col-12">
                        <p>No orders in your cart.</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        </div>

    </div>

</div>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="button" class="btn btn-primary btn-lg" onclick='redirect(this)' href="{% url 'gallery' %}"><i class="fa fa-arrow-left"></i> Go back to gallery</button>
            <button type="button" class="btn btn-secondary btn-lg" onclick='redirect(this)' href="{% url 'buy' %}">Buy <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>

<footer class="footer">
    <div class="container text-center" style="color: white;">
        <p class="mb-2">This is some example footer text.</p>
        <div>
            <a href="#" class="mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');

    function redirect(obs){
        window.location.href=obs.getAttribute('href');
    }

    function deleteItem(id) {
        alert("Are you sure you wish to delete item id:" + id + " from your basket?");
        return false;
    }

    function addAnItem(id) {
        alert("Are you sure you wish to add 1 item id:" + id + " from your basket?");
        return false;
    }

    function removeAnItem(orderId) {
        $.ajax({
            url: '/remove_game_item/',  // or whatever your url is
            type: 'post',
            data: {
                'order_id': orderId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if(response.success)
                    alert('1 item has been removed from your cart.');
                    location.reload();
                } else {
                    alert('Item removed from cart.');
                }
            },
            error: function(response) {
                alert('An error has occured while removing an item from your cart.');
            }
        });
    }
</script>
</body>
</html>