{% include 'html/navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% load  static %}

    <script src="{% static 'js/cart.js' %}" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Cart</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

<style>
    .neon-glow {
        font-size: 2.5em;
        font-weight: 900;
        color: #FFD700;
        text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px darkgoldenrod;
        text-transform: uppercase;
    }

    span {
        color: white;
    }

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 20vh;
}

#cart {
      width: 50px;
      max-width: 100%;
      height: auto;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 768px) {

    div {
        font-size: 0.75em;
    }
}

</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
<script>
    baguetteBox.run('.tz-gallery');

    function redirect(obs){
        window.location.href=obs.getAttribute('href');
    }

    function deleteItem(id) {
        // use javascript library to handle alerts
        Swal.fire({
            title: 'Are you sure?',
            text: "You wish to delete item (id:" + id + ") from your basket?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                return send_request(id,'/delete_game_item/'+id,'delet');
            }
        })
    }

    function addAnItem(id) {
        Swal.fire({
            icon: 'success',
            title: 'Successfully added',
            text: "You have added 1 item (id:" + id + ") to your basket.",
            confirmButtonColor: '#3085d6',
        }).then((result) => {
            if (result.isConfirmed) {
                return send_request(id,'/add_game_item/'+id,'add');
            }
        })
    }

    function removeAnItem(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You wish to remove 1 item (id:" + id + ") from your basket?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
            if (result.isConfirmed) {
                return send_request(id,'/remove_game_item/'+id,'remov');
            }
        })
    }

    // POST data via ajax with id
    function send_request(orderId,url,action) {
        $.ajax({
            url: url,
            type: 'post',
            data: {
                'order_id': orderId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if(response.success){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: '1 item has been '+ action+'ed from your cart.',
                        confirmButtonColor: '#3085d6',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    })
                } else {
                    Swal.fire({
                        icon: 'info',
                        title: 'Info',
                        text: 'Item'+action+'ed from cart.',
                        confirmButtonColor: '#3085d6',
                    })
                }
            },
            // handle error
            error: function(response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error has occurred while '+action+'ing an item from your cart.',
                    confirmButtonColor: '#d33',
                })
            }
        });
    }
</script>

    <div class="container gallery-container">
    <div class="center-content">
        <img src="\media\templates\videogame_imgs\shoppingCart.png" id="cart">
        <h1 class="neon-glow">Your Shopping Cart</h1>
    </div>

    <p class="page-description text-center">These are the items in your basket, press buy to proceed to shipping and payment section.</p>

    <div class="tz-gallery">
        <div class="container">
            {% for order in orders %}
                {% if order.quantity > 0 %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        <a href="video/{{ order.game_id.video_game_id }}">
                            <img src="{{ order.game_id.image_url.url }}" alt="{{ order.game_id.name }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <p><span>Order ID: {{ order.order_id }}</span></p>
                        <p><span>Order date: {{ order.order_date }}</span></p>
                        <p><span>Order game: {{ order.game_id.name }}</span></p>
                        <p><span>Order quantity: {{ order.quantity }}</span></p>
                        <button class="btn btn-danger float-end" onclick="deleteItem({{ order.order_id }})">Delete</button>
                        <button class="btn btn-success float-end" onclick="addAnItem({{ order.order_id }})">+1 Qty</button>
                        <button class="btn btn-warning float-end" onclick="removeAnItem({{ order.order_id }})">-1 Qty</button>

                    </div>
                </div>
                <hr>
                {% endif %}
            {% empty %}
                <div class="row">
                    <div class="col-12">
                        <p>No orders in your cart.</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        </div>

    </div>

</div>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="button" class="btn btn-primary btn-lg" onclick='redirect(this)' href="{% url 'gallery' %}"><i class="fa fa-arrow-left"></i> Go back to gallery</button>
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-secondary btn-lg disable-btn" onclick='isCartEmpty(this)' href="{% url 'buy' %}" style="background-color: gold; color: white;">Buy <i class="fa fa-arrow-right"></i></button>
            {% else %}
                <p>Please log in to be able to buy items.</p>
            {% endif %}
        </div>
    </div>

<footer class="footer">
    <div class="container text-center" style="color: white;">
        <p class="mb-2">Art Gallery of the Future - 2023. Check us out on social media!</p>
        <div>
            <a href="https://www.facebook.com/" class="mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script type="text/javascript">

    // check if cart empty
    var ordersLength = {{ orders|length }};

    function isCartEmpty(button) {
        if (ordersLength == 0) {
            // prevent users buying
            var buyButton = document.querySelector('.disable-btn');
            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Your cart is empty please select items from the gallery.',
                confirmButtonColor: '#d33',
            }).then((result) => {
                if (result.isConfirmed) {
                    buyButton.disabled = true;
                }
            })
        } else {
            redirect(button);
        }
    }

</script>

</body>
</html>