{% include 'html/navbar.html'%}

{% block body %}
    {% load  static %}
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
<style>
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
    <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form">
          <h2>Edit Profile</h2>
          <div class="input">
            <div class="inputBox">
              <label>Username</label>
              <input type="text" name="username" placeholder="{% if user.username %} {{ user.username }} {% else %} username {% endif %}" required/>
            </div>
            <div class="inputBox">
              <label>Email</label>
              <input type="email" name="email" placeholder="{% if user.email %} {{ user.email }} {% else %} email@gmail.com {% endif %}" required/>
            </div>
            <div class="inputBox">
              <input type="submit" name="" value="Update" on/>
            </div>
          </div>
        </div>
    </form>

<footer class="footer" style='padding-top: 30px'>
    <div class="container text-center" style="color: white;">
        <p class="mb-2">Art Gallery of the Future - 2023. Check us out on social media!</p>
        <div>
            <a href="https://www.facebook.com/" class="mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>


{% endblock %}