{% include 'html/navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    {% load  static %}

    <script src="{% static 'js/gallery.js' %}" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>Freebie: 4 Bootstrap Gallery Templates</title>
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>

<style>
    @keyframes rainbow {
        0% {color: red;}
        10% {color: orange;}
        20% {color: yellow;}
        30% {color: lime;}
        40% {color: green;}
        50% {color: turquoise;}
        60% {color: cyan;}
        70% {color: blue;}
        80% {color: purple;}
        90% {color: magenta;}
        100% {color: red;}
    }

    .rainbow-text {
        animation: rainbow 10s linear infinite;
        text-decoration: underline;
    }
</style>


<div class="container gallery-container">

    <h1 class="rainbow-text">Video Game Gallery</h1>

    <p class="page-description text-center">Hover over a video game to select it for your shopping cart.</p>

    <div class="tz-gallery">

        <div class="row">
            {% for image in images %}

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="video/{{ image.video_game_id }}">
                    <img src=" {{  image.image_url.url }}" alt="{{ image.name }}">
                </a>
            </div>

            {% endfor %}

        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>