{% load  static %}
{% include 'html/navbar.html'%}

<div class="row">
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

    <!-- credit: https://codepen.io/osva-ocampo/details/wvBQbBO -->

    <form method="POST">
     {% csrf_token %}
        <div class="form">
          <h2>Login</h2>
                <h4>{{  message }}</h4>
          <div class="input">
            <div class="inputBox">
              <label>Username</label>
              <input type="text" name="username" placeholder="Enter your username" required/>
            </div>
            <div class="inputBox">
              <label>Password</label>
              <input type="password" name="password" placeholder="Enter your password" required/>
              <i class="fa fa-eye password-toggle"></i>
            </div>
            <div class="inputBox">
              <input type="submit" name="submit" value="Sign In"/>
            </div>
          </div>
        </div>
    </form>

{% endblock %}

</div>