{% load filters %}
{% include 'html/navbar.html'%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>
<style>
    h1, p, .row, table {
        color: white;
        text-align: center;
    }
    body{
        color: white;
    }
    th {
        color: gold;
    }
    body{
  padding: 2rem 0rem;
}
.avatar {
  border: 0.3rem solid #ffffff;
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}
table{
    justify-content: center;
    display: flex;
}

.card{
    justify-content: center;
    display: flex;
}
</style>

<body>
<hr>
<h1>User Profile</h1>
<br>
<div class="container" style="padding-top: 30px">
  <div class="row">
      <div class="card">
        <div class="card-body text-center">
          <img class="avatar rounded-circle" src="\media\templates\videogame_imgs\user.png" alt="User Image">
          <h4 class="card-title">{{ user.username }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Your Profile Information</h6>
          <p class="card-text">
              <b>Email:</b> {{ user.email }} <br> <b>Username:</b> {{ user.username }} <br> <b>Date Joined:</b> {{ user.date_joined }} <br>
              <b>Is user active?</b> {% if user.is_active %} Yes {% else %} No {% endif %} <br> <b>Is admin?</b> {% if user.is_superuser %} Yes {% else %} No {% endif %}
          </p>
          <a href="{% url 'load_edit_profile' %}" class="btn btn-info">Edit Profile?</a>
        </div>
      </div>
    </div>
</div>


<hr>
<h1>Profile Receipts</h1>


<div class="row">

{%  for receipt in receipts %}
             <div class="row">
                        <div class='col'>
                        <div class="card " style="color: white !important;">
                            <div class="card-body">

                                <div class="card-body p-0 table-responsive" style  ='color:white ; width: max-content'>
                                <h4 class="p-3 mb-0">Product Description --- <b>Receipt {{ forloop.counter }}</b></h4>

                                <table class="table">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                        </tr>
    {%  for item in receipt.items %}

                                        <tr>
                                            <td>
                                                <img src="\media\templates\videogame_imgs\receipt.png" alt="receipt image" width="80">
                                            </td>
                                            <td>{{ item |myfunc }}</td>
                                            <td>${{item|price}} X {{ item|quantity }}</td>
                                            <td><strong>${{item|total}}</strong></td>

                                            <td>{% if not item|processed %}
                                                <span class="badge badge-warning" style="background-color: yellow ;color: black">
                                                PENDING &#10006</span>
                                                {% else %}
                                                <span class="badge badge-success" style="background-color: lightgreen ;color: black">SHIPPED &#10004</span>
                                                {% endif %}
                                            </td>
                                        </tr>
    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                        </div>
                        </div></div></div>
<table style="padding-bottom: 10px;">
                                            <tr>
                                                <th colspan="2">
                                                    <span>Status:</span>
                                                    <span class="badge badge-success">PAID </span>
                                                </th>
                                                <td>
                                                    <span class="text-muted">Total Price </span>
                                                    <strong>${{ receipt.items| total_price }}</strong>
                                                </td>
                                                <td>
                                                    <span class="text-muted">Total Quantity </span>
                                                    <strong>{{ receipt.items| total_quantity }}</strong>
                                                </td>
                                            </tr></table>

{% endfor %}
</div></div></div>
</body>
<footer class="footer">
    <div class="container text-center" style="color: white;">
        <p class="mb-2">Art Gallery of the Future - 2023. Check us out on social media!</p>
        <div>
            <a href="https://www.facebook.com/" class="mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>
</html>
