{% load  static %}
{% include 'html/navbar.html'%}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
<style>
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
    <form method="POST">
    {% csrf_token %}
        <div class="form">
          <h2>Register</h2>
          <div class="input">
            <div class="inputBox">
              <label>Username</label>
              <input type="text" name="username" placeholder="Choose a username" maxlength="20" required/>
            </div>
              <div class="inputBox">
              <label>Password</label>
              <input type="password" name="password1" class="password" placeholder="Enter Password" required/>
            </div>
            <div class="inputBox">
              <label>Confirm Password</label>
              <input type="password" name="password2" class="password" placeholder="Enter Your Password Again" required/>
            </div>
            <div class="inputBox">
              <label>Email</label>
              <input type="email" name="email" placeholder="Enter an email" required/>
            </div>
            <div class="inputBox">
              <input type="submit" name="" value="Register" on/>
            </div>
          </div>
        </div>
    </form>


{% endblock %}