{% include 'html/navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    {% load  static %}

    <script src="{% static 'js/gallery.js' %}" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Video</title>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>

<style>
    .neon-glow {
        background-color: #78beff;
        color: #f0f0f0;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    }

    h3 {
        color: white;
    }

    .header .cor-1 {
      background:#f1c40f;
    }

    .header .cor-2 {
      background:#e67e22;
    }

    .header .cor-3 {
      background:#e74c3c;
    }

    .header .cor-4 {
      background:#9b59b6;
    }

    .header .cor-5 {
      background-color: hsla(10,40%,50%,1);
    }

    .info {
        text-decoration: underline;
        font-weight: bold;
    }
</style>

<ul class="header">
    <li class="cor-1"></li>
    <li class="cor-2"></li>
    <li class="cor-3"></li>
    <li class="cor-4"></li>
    <li class="cor-5"></li>
</ul>


<div class="container gallery-container">
    <div class="tz-gallery">

        <h1 class="neon-glow">Title: {{ game.name }}</h1>

        <div class="row">
            <!-- Image column -->
            <div class="col-sm-6 col-md-5 col-lg-5" style="padding-left: 15px;">
                <div class="lightbox">
                    <img src="{{ game.image_url.url }}" alt="{{ game.name }}" class="img-fluid" id="preventClick()" style="pointer-events: none;">
                <div/>
            </div>

            <!-- Information column -->
            <div class="col-sm-6 col-md-5 col-lg-5" style="padding-left: 30px;">
                <h3><span class="info">Genre:</span> {{ game.genre }}</h3>
                <h3><span class="info">Price:</span> £{{ game.price }}</h3>
                <h3><span class="info">Description:</span> {{ game.description }}</h3>
                <h3><span class="info">Quantity:</span> {{ game.quantity }}</h3>
            </div>

            <!-- Button column -->
            <div class="col-sm-12 col-md-2 col-lg-2 d-flex align-items-end">
                <form method="POST" style="width: 100%;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg w-100">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="button" class="btn btn-primary btn-lg" onclick='redirect(this)' href="{% url 'gallery' %}"><i class="fa fa-arrow-left"></i> Go back to gallery</button>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container text-center" style="color: white;">
        <p class="mb-2">Art Gallery of the Future - 2023. Check us out on social media!</p>
        <div>
            <a href="https://www.facebook.com/" class="mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>

    $(document).ready(function(){
      $("#preventClick").click(function(event){
        event.preventDefault();
      });
    });

    baguetteBox.run('.tz-gallery');

    function redirect(obs){
        window.location.href=obs.getAttribute('href');
    }



</script>
</body>
</html>